html, body{
    margin:0;
    height:100%;
}
.root-layout{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
.sidebar{
    z-index: 998;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
}
.sidebar ul li{
    font-size: 14em;
}
.main{
    width: auto;
    height: 100%;
    padding-left: 250px;
    background-color: darkolivegreen;
    position: relative;
    font-size: 34px;
}