html,body{
    margin: auto;
}
.mmd-screen{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    position: fixed;/*不随滚动条滚动*/
}
.mmd-sidebar{
    z-index: 998;
    width: 250px;
    height: 100%;
    overflow: hidden;
    position: fixed;/*不随右边div滚动*/
    background-color: #fff;
}
.mmd-main{
    background-color: #FCFCFC;
    margin-left: 250px;
    width: auto;/*不能为 100%*/
}

li{
    font-size: 20px;
    list-style-type:none;
    margin: 10px 0;
}